@charset "UTF-8";
/* start global variable */
$g_color: #110f7c;
$g_bgColor: #1951b2;
$g_bdColor: #1951b2;
$white: #fff;
$top_height: 96px;
$font_weight: 500;
$font30: 30px;
$main-height: 440px;
$service-width: 300px;
$g_height: 100px;
/* end global variable */

/* start clean css default style */
body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  background-color: transparent;
  width: 1280px;
  height: 720px;
  overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}
ul {padding-left: 0;}
li {list-style: none;}
img {border: none;}
a {text-decoration: none;}
/* end clean css default style */

/* start common style */
.fl {float: left;}
.fr {float: right;}
%ellipsis {
   text-overflow: ellipsis;
   word-wrap: normal;
   word-break: break-world;
   overflow: hidden;
   white-space: nowrap;
}
.clearfix {
   *zoom: 1;
}
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}
.col-2 {width: 50%; float: left;}
.col-3 {width: 33.333%; float: left;}
.col-4 {width: 25%; float: left;}
.col-6 {width: 16.666%; float: left;}
.w1000 {width: 1000px;}
.w400  {width: 400px;}
.mar-t20 {margin-top: 20px;}
.mar-b10 {margin-bottom: 10px;}
.mar-b15 {margin-bottom: 15px;}
/* end common style */

/* start self define style */
.bg, .wrap {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
}
.bg {
    z-index: 3;
    background-color: #1816c2;
}
.wrap {
    z-index: 10;
    overflow: hidden;

   .wrap-main {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
   }
   .wrap-main-body {
      overflow: hidden;
   }
}

.header {
   height: $g_height;
   width: 100%;
   .header-logo, .header-weather, .header-nowtime {
        position: absolute;
        top: 30px;
   }
   .header-logo {
       left: 100px;
       img, label {
          vertical-align: middle;
       }
       img {
          width: 50px; height: 50px;margin-right: 5px;
       }
       label {
          font-size: $font30;
          font-weight: font_weight;
          color: $white;
       }
   }

   .header-weather {
        width: 150px;
        right: 170px;
        color: $white;
        overflow: hidden;

        img {
            float: left;
        }
        .header-weather-detail {
            padding-left: 60px;
        }
        .header-weather-village, .header-weather-data {
            font-size: 19px;
            line-height: 19px;
            padding-top: 3px;
        }
   }
   .header-nowtime {
       right: 40px;
       color: $white;
       .nowtime-time {
          font-size: 20px;
       }
   }
}
.navbar {
    padding-left: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    li {
        float: left;
        font-size: 25px;
        height: 40px;
        line-height: 40px;
        color: $white;
        margin-left: 20px;
    }
}
.middle {
   height: $main-height;
   position: relative;
   .middle-video {
      position: absolute;
      left: 95px;
      padding: 5px;
      top: 0px;
   }
   .middle-video-inner {
      width: 674px;
      height: $main-height - 10;
      background: url(../imgs/index1.jpg) no-repeat;
      float: left;
   }
   .service-list {
       position: absolute;
       top: 0;
       right: 100px;
       width: 400px;
       overflow: hidden;
    }
    .service-item {
       padding: 5px;
    }
    .service-item > div {
        background-color: #ddd;
        img {
           display: block;
           width: 100%;
           height: 100%;
        }
    }
    .service-item-inner {
        height: 210px;
    }
    .service-item-inner-xd {
        height: 430px;
    }
    .service-item-inner-md {
        height: 136px;
    }
    .service-item-inner-sm {
       height: 134px;
    }
    .service-item-inner-sb {
       height: 286px;
    }
    .service-item-inner-zsb {
       height: 138px;
    }
    .col-last {
        width: 66.666%;
        float: left;
    }
}
.gallery {
    width: 960px;
    margin: 0 auto;
    .gallery-navbar {
       text-align: right;
    }
    .gallery-navbar-item {
        display: inline-block;
        color: $white;
        font-size: 19px;
        padding: 20px 10px 20px 20px;
    }
    .gallery-cont {
       position: relative;
       height: 440px;
       margin: 0 auto;
    }
    .prev, .next {
       position: absolute;
       top: 37%;
       margin-top: -20px;
       width: 35px;
       height: 68px;
       text-align: center;
       background: url(../imgs/arrow.png) no-repeat;
    }
    .prev {
        left: 0;
        margin-left: -60px;
        background-position: 0 0;
    }
    .next {
      right: 0;
      margin-right: -60px;
      background-position: -35px 0;
    }
    .gallery-box {
       position: relative;
       height: 100%;
       margin: 0 auto;
       overflow: hidden;
    }
    .gallery-list {
       position: absolute;
       top: 0;
       left: 0;
    }
    .gallery-item {
        padding: 5px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .gallery-item-inner {
        height: 210px;
        position: relative;
    }
    .gallery-item-info {
        font-size: 19px;
        text-align: center;
        height: 60px;
        line-height: 60px;
        @extend %ellipsis;
        color: $white;
        background-color: #081935;
        position: absolute;
        width: 100%;
        margin-top: -60px;
    }
    .gallery-item-active .gallery-item-info {
       background-color: #f90;
    }
}
.leader {
    width: 660px;
    margin-left: 126px;
    overflow: hidden;
    .leader-list {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .leader-item {
        padding: 10px;
    }
    .leader-item-inner {
        height: 440px;
        position: relative;
    }
    .leader-img-diff {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.custom {
    margin: 0 auto;
    .custom-top {
       height: 400px;
       margin: 0 auto 30px auto;
       overflow: hidden;
    }
}
.swiper, .swiper-list{
   width: 480px;
   height: 100%;
   position: relative;
   overflow: hidden;
}
.swiper-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  img {
     display: block;
     width: 100%;
     height: 100%;
  }
}
.swiper-dotgroup {
   text-align: center;
   background-color: #0000AA;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   font-size: 0;
   z-index: 4;
}
.swiper-dotitem {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: $white;
   margin: 20px 8px;
}
.swiper-dotitem-active {
   background-color: #f90;
}
.custom-info {
   width: 480px;
   height: 100%;
   background-color: #87a8dd;
   border-radius: 6px;
   font-size: 17px;
}
.custom-info-title {
   text-align: center;
   font-size: 20px;
   padding: 15px 0;
}
.custom-info-txt {
   text-indent: 20px;
   padding: 10px;
   @extend %ellipsis;
}
.custom-foot {
    .custom-foot-list {
        overflow: hidden;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .custom-foot-item {
         padding: 5px;
         p {
           width: 100%;
           padding: 5px 0;
           background-color: rgba(0, 0, 0, .7);
           position: absolute;
           bottom: 0;
           text-align: center;
           font-size: 20px;
           color: #fff;
         }
    }
    .custom-foot-item-inner {
        height: 110px;
        position: relative;
    }
}
.hotline{
    width:100%;
    text-align: center;
    margin:30px auto 30px auto;
}
.news-title {
    width: 100%;
    margin:0px auto 0px auto;
    text-align: center;
}
.news-cont {
    text-indent:35px
}
.news-sign {
    width:100%;
    text-align: right;
}
.news-cont-pic{
    width:100%;
    margin:10px auto 10px auto;
    text-align: center;
}
.affairs{
    color: #fff;
}

.affairs-title{
    color: #cc0000;
    width:100%;
}

.scenic-info {
   overflow: hidden;
   width: 650px;
   margin: 100px auto 0 auto;
}
.scenic-info-item {
   width: 300px;
   height: 500px;
}
.scenic-info-title {
   font-size: 18px;
   color: #fff;
   padding-bottom: 10px;
}
.scenic-info-cont {
   height: 500px;
   overflow: auto;
   background-color: #1D3559;
}

.agriculture {
    color : #fff;
    width: 100%;
    .agri-title {
        margin: 60px auto 20px 200px;
    }
    .agri-list-wrap {
        margin: 0px auto 0px 253px;
        .agri-list{
             margin-right: 90px;
             margin-left: 15px;
            .agri-item {
                margin: 10px 0px 10px 0px;
                padding-left: 20px;
                line-height:40px;
                font-size: 16px;
                border-width: 5px;
                border-style: solid;
                border-color: #110f7c;
                background-color:#2a59a9;
            }
        }
    }

}
.pagenation {
   text-align: right;
   font-size: 0;
   .pagenation-item {
      display: inline-block;
      font-size: 14px;
      color: #fff;
      padding: 8px 16px;
      margin: 8px;
   }
   .pagenation-btn {
      border: 1px solid #fff;
   }
}
.notice, .notice-footer {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.notice {
    height: 400px;
    overflow: hidden;
}
.notice-footer {
    margin-top: 10px;
}
.notice-pic, .notice-article {
    width: 400px;
    height: 100%;
}
.notice-pic {
    background-color: #ccc;
}
.notice-article {
   background-color: #00f;
}
.farmer {
    margin-bottom: 10px;
}
.farmer,  .farmer-footer{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.farmer-article {
    width: 400px;
    height: 400px;
    background-color: #ccc;
}
.common-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 30px auto 15px auto;
}
.desc-container {
    padding: 5px;
    background-color: #f00;
    overflow: hidden;
    .common-desc {
       width: 400px;
       height: 470px;
       background-color: #09254D;
       color: #fff;
       overflow: hidden;
    }
    .common-desc-body {
      padding: 20px;
    }
}
.pic-container {
    padding: 5px;
    .pic-container-inner {
       width: 400px;
       height: 470px;
       position: relative;
       overflow: hidden;
    }
    .common-pic-list {
        background-color: #1c3f69;
        position: absolute;
        width: 100%;
        .common-pic-item {
            height: 200px;
            margin-bottom: 10px;
        }
        .common-pic-imgbox {
            height: 100%;
            background-color: #f00;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.grid-container {
    width: 460px;
    overflow: hidden;
    .grid-list {
        overflow: hidden;
    }
    .grid-list-item {
        padding: 5px;
    }
    .grid-list-item-inner {
        height: 230px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.common-article-list {
    .common-article-item {
        padding: 5px;
    }
    .common-article-item-inner {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        background-color: #1c3f69;
        color: $white;
        text-indent: 20px;
    }
}
.common-article-cont {
    background-color: #143D6B;
    height: 500px;
    overflow: hidden;
    .common-article-body {
        padding: 10px;
        text-indent: 20px;
    }
    .common-article-detail {
        color: #fff;
        font-size: 18px;
        img {
            display: block;
            width: 100%;
        }
    }
}
.error {
    font-size: 30px;
    color: $white;
    line-height: 400px;
    text-align: center;
}
