@charset "UTF-8";
/* clean css rest */
$color: #110f7c;
$white: #fff;
body {
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color: #202425;
  background-color: $color;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}
ul {padding-left: 0;}
li {list-style: none;}
img {border: none;}
a {text-decoration: none;}
.fl {float: left;}
.fr {float: right;}
%ellipsis {
   text-overflow: ellipsis;
   word-wrap: normal;
   word-break: break-world;
   overflow: hidden;
   white-space: nowrap;
}
.clearfix {
   *zoom: 1;
}
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}
.w1000 {width: 1000px;}
.wrap {
   position: relative;
   width: 1120px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
}
$top_height: 96px;
$font_weight: 500;
$font30: 30px;
$white: #fff;
/*头部*/
.header {
   padding-top: 10px;
   padding-bottom: 10px;
   .header-logo {
       float: left;
       img, label {
          vertical-align: middle;
       }
       img {
          width: 50px; height: 50px;margin-right: 5px;
       }
       label {
          font-size: $font30;
          font-weight: font_weight;
          color: $white;
       }
   }

   .header-weather {
        position: absolute;
        right: 137px;
        color: $white;
        width: 150px;
        overflow: hidden;

        img {
            float: left;
        }
        .header-weather-detail {
            padding-left: 60px;
        }
        .header-weather-village, .header-weather-data {
            font-size: 19px;line-height: 19px;
            padding-top: 3px;
        }
   }
   .header-nowtime {
       float: right;
       color: $white;
       .nowtime-time {
          font-size: 20px;
       }
   }
}

/* start 导航部分*/
.navbar {
   padding-bottom: 10px;
   overflow: hidden;
   .navbar-item {
      float: left;
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      color: gray;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: $font_weight;
   }
}
/* end 导航部分*/

/* start 中间主体部分 */
$main-height: 450px;
$service-width: 300px;
.middle {
   position: relative;
   height: $main-height;
   margin-bottom: 20px;
   /* padding-left: 20px;
   padding-right: 20px; */
   .middle-video {
      height: $main-height;
      position: absolute;
      width: 600px;
      background: url(../imgs/index1.jpg) no-repeat;
      background-size: 100% 100%;
      margin-left: 40px;
   }
   .service-box {
       float: right;
       position: relative;
       width: 400px;
       overflow: hidden;
   }
   .service-list {
       position: relative;
       margin-right: -10px;
       margin-bottom: -10px;
       display: none;
    }
    .service-list-active {
        display: block;
    }
    .service-item {
       width: 180px;
       height: 210px;
       border: 5px solid #110f7c;
       float: left;
       margin-right: 10px;
       margin-bottom: 10px;
       overflow: hidden;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }
    .service-item-sm {
       width: 113px;
       height: 134px;
       margin-bottom: 10px;
       margin-right: 10px;
       border-width: 5px;
       border-style: solid;
       border-color: #110f7c;
       float: left;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }
    .service-item-md {
       width: 180px;
       height: 134px;
       border: 5px solid transparent;
       margin-bottom: 10px;
       margin-bottom: 10px;
       float: left;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }
    .service-item-xs {
       width: 175px;
       height: 98%;
       float: right;
       margin-right: 48px;
       border-width: 5px;
       border-style: solid;
       border-color: transparent;
       img {
         display: block;
         width: 100%;
         height: 100%;
       }
    }
    .service-item-xd {
       width: 246px;
       height: 134px;
       float: left;
       margin-right: 10px;
       margin-bottom: 10px;
       border-width: 5px;
       border-style: solid;
       border-color: #110f7c;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }
    .service-item-sb {
       width: 113px;
       height: 288px;
       float: left;
       border: 5px solid #110f7c;
       margin-right: 10px;
       margin-bottom: 10px;
       img {
            display: block;
            width: 100%;
            height: 100%;
       }
    }

    .service-item {
       width: 180px;
       height: 210px;
       border: 5px solid #110f7c;
       float: left;
       margin-bottom: 10px;
       overflow: hidden;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }
    .service-elec {
       width: 180px;
       height: 210px;
       border: 5px solid #110f7c;
       margin-right: 10px;
       margin-bottom: 10px;
       overflow: hidden;
       img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }

    .service-elec-large {
        width: 180px;
        height: 440px;
        border: 5px solid #110f7c;
        float: right;
        margin-right: 20px;
        margin-bottom: 0;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
       }
    }


}
/* end 中间主体部分 */


.detail-title {
   color: $white;
   font-size: 25px;
   margin: 30px auto 0 auto;
}
.menubar {
   text-align: right;
   margin: 0 auto 30px auto;
}
.menubar span{
   display: inline-block;
   color: $white;
   font-size: 25px;
   margin-left: 20px;
}
.menubar .detail-title-active {
    color: #cd7f3d;
}
.gallery {
   position: relative;
   height: 584px;
   margin: 0 auto;
}
.prev, .next {
   position: absolute;
   top: 37%;
   margin-top: -20px;
   width: 35px;
   height: 68px;
   z-index: 5;
   text-align: center;
   background: url(../imgs/arrow.png) no-repeat;
}
.prev {
  left: 0;
  margin-left: -60px;
  background-position: 0 0;
}
.next {
  right: 0;
  margin-right: -60px;
  background-position: -35px 0;
}
.gallery-box {
   position: relative;
   height: 100%;
   margin: 0 auto;
   overflow: hidden;
}
.gallery-list {
   position: absolute;
   margin-right:-12px;
}
.gallery-item {
  width: 243px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.gallery-item-inner {
  position: relative;
  height: 200px;
  margin: 0 10px 10px 0;
}
.gallery-item img {
  display: block;
  width: 264px;
  height: 167px;
  margin: 0 auto;
}
.gallery-item-active .gallery-item-info {
   background-color: #f90;
}
.gallery-item-info {
  font-size: 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  @extend %ellipsis;
  color: $white;
  background-color: #081935;
}
.leader {
   height: 440px;
   margin: 30px auto;
   overflow: hidden;
}
.leader-item {
   width: 360px;
   height: 100%;
   border-radius: 4px;
   float: left;
   img {
      display: block;
      width: 100%;
      height: 100%;
   }
}
.leader-item:first-child {
   margin-right: 100px;
}
.custom {
   margin: 20px auto 0 auto;
}
.custom-top {
   height: 440px;
   margin: 0 auto 30px auto;
   overflow: hidden;
}
.swiper, .swiper-list{
   width: 480px;
   height: 100%;
   position: relative;
   overflow: hidden;
}
.swiper-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #f00;
  img {
     display: block;
     width: 100%;
     height: 100%;
  }
}
.swiper-dotgroup {
   text-align: center;
   background-color: #0000AA;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   font-size: 0;
   z-index: 4;
   opacity: 0.6;
   filter: alpha('opacity:60');
}
.swiper-dotitem {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fff;
   margin: 20px 8px;
}
.swiper-dotitem-active {
   background-color: #f90;
}
.custom-info {
   width: 480px;
   height: 100%;
   background-color: #87a8dd;
   border-radius: 6px;
   font-size: 17px;
}
.custom-info-title {
   text-align: center;
   font-size: 20px;
   padding: 15px 0;
}
.custom-info-txt {
   text-indent: 20px;
   padding: 10px;
   @extend %ellipsis;
}
.custom-foot {
   margin: 0 auto 0 auto;
}
.custom-relatelist {
  overflow: hidden;
  margin-right: -10px;
}
.custom-relateitem {
   width: 148px;
   height: 110px;
   border: 5px solid #110f7c;
   position: relative;
   float:left;
   margin-right: 10px;
   img {
      display: block;
      width: 100%;
      height: 100%;
   }
   p {
     width: 100%;
     padding: 5px 0;
     background-color: rgba(0, 0, 0, .7);
     position: absolute;
     bottom: 0;
     text-align: center;
     font-size: 20px;
     color: #fff;
   }
}
.hotline{
    width:100%;
    text-align: center;
    margin:30px auto 30px auto;
}
.scenic{
    width:100%;
    margin: 80px 0px 80px 0px;
    .scenic-pic{
        display:inline;
        position:relative;
        width:50%;
        height: $main-height;
        text-align: center;
        .scenic-pic-ul{
            margin-right: 20px;
            margin-left: 20px;
            .scenic-pic-li {
                margin-bottom:10px;
                display:inline;
            }
        }
    }
    .bus-pic {
        position:relative;
        width:100%;
        img{
            width: 161px;
            height: 150px;
        }
    }
    .scenic-desc{
        display:inline;
        postion:relative;
        width:100%;
        height:$main-height;
        text-align: left;
        .scenic-desc-wrap {
            margin:20px;
            padding:0px 20 0px 20px;
            .scenic-title {
               font-size: 20px;
               color: #cd7f3d;
               padding-bottom: 10px;
            }
            .scenic-cont {
               border:3px solid #cd7f3d;
               font-size: 18px;
               color:#fff;
               border-radius: 5px;
               height: 130px;
               overflow: auto;
               background-color: #1D3559;
            }
            .scenic-cont100 {
               border:3px solid #cd7f3d;
               font-size: 18px;
               color:#fff;
               border-radius: 5px;
               height: 426px;
               overflow: auto;
               background-color: #1D3559;
            }
        }
    }
}
.news-title {
    width: 100%;
    margin:0px auto 0px auto;
    text-align: center;
}
.news-cont {
    text-indent:35px
}
.news-sign {
    width:100%;
    text-align: right;
}
.news-cont-pic{
    width:100%;
    margin:10px auto 10px auto;
    text-align: center;
}
.affairs{
    color: #fff;
}

.affairs-title{
    color: #cc0000;
    width:100%;
    text-align: center;
}

.scenic-info {
   overflow: hidden;
   width: 650px;
   margin: 100px auto 0 auto;
}
.scenic-info-item {
   width: 300px;
   height: 500px;
}
.scenic-info-title {
   font-size: 18px;
   color: #fff;
   padding-bottom: 10px;
}
.scenic-info-cont {
   height: 500px;
   overflow: auto;
   background-color: #1D3559;
}

.agriculture {
    color : #fff;
    width: 100%;
    .agri-title {
        margin: 60px auto 20px 200px;
    }
    .agri-list-wrap {
        margin: 0px auto 0px 253px;
        .agri-list{
             margin-right: 90px;
             margin-left: 15px;
            .agri-item {
                margin: 10px 0px 10px 0px;
                padding-left: 20px;
                line-height:40px;
                font-size: 16px;
                border-width: 5px;
                border-style: solid;
                border-color: #110f7c;
                background-color:#2a59a9;
            }
        }
    }

}

.content{
    width:100%;
    margin: 80px 0px 80px 0px;
    color: #fff;
    .content-pic{
        display:inline;
        position:relative;
        width:50%;
        height: $main-height;
        text-align: center;
        .scenic-pic-ul{
            margin-right: 20px;
            margin-left: 20px;
            .scenic-pic-li {
                margin-bottom:10px;
                display:inline;
            }
        }
    }
    .bus-pic {
        position:relative;
        width:100%;
        img{
            width: 161px;
            height: 150px;
        }
    }
    .content-desc{
        display:inline;
        postion:relative;
        width:100%;
        height:$main-height;
        text-align: left;
        .content-desc-wrap {
            margin:20px;
            padding:0px 20 0px 20px;
            p {
                text-indent: 35px;
                p {
                    text-indent: 70px
                }
            }
            .content-classify {
               font-size: 20px;
               padding-bottom: 10px;
            }
            .content-cont {
               border:3px solid #cd7f3d;
               font-size: 18px;
               color:#fff;
               border-radius: 5px;
               height: 130px;
               overflow: auto;
               background-color: #1D3559;
            }
        }
    }
}
.content-cont100 {
   font-size: 18px;
   color:#fff;
   border-radius: 5px;
   height: 460px;
   overflow: auto;
   background-color: #1D3559;
   margin: 0px 0px 0px 70px;
}
.content-title {
  width:100%;
  text-align: center;
  line-height: 90px;
}

.wrap .prev, .wrap .next {
    height: 320px;
    position: absolute;
    left: -50%;
    top: 0;
    background-color: #999;
    opacity: 0.7;
    width: 100%;
}

.wrap .next {
    left: auto;
    right: -50%;
}

.wrap .prev:hover, .wrap .next:hover {
    opacity: 0.5;
}

.container {
    width: 300px;
    height: 300px;
}

.container ul {
    height: 300px;
}

.container li {
    width: 300px;
    height: 300px;
    float: left;
}

.container li a, .container li img {
    display: block;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: none;
}

.page span {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    background: #999;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.page .select {
    background: #f00;
}
.pagenation {
   text-align: right;
   font-size: 0;
   .pagenation-item {
      display: inline-block;
      font-size: 14px;
      color: #fff;
      padding: 8px 16px;
      margin: 8px;
   }
   .pagenation-btn {
      border: 1px solid #fff;
   }
}
.affairs-title, .focus-title, .river-title {
   color: #fff;
   padding: 40px 0 20px;
}
.affairs-main, .focus-main, .river-main {
   width: 900px;
   margin: 0 auto 30px;
   height: 400px;
   overflow: hidden;
}
.focus-main .focus-cont, .river-main .river-cont {
   height: 360px;
   padding: 20px;
   font-size: 16px;
   color: #fff;
   background-color: #163c69;
}
.focus-main .pic-list, .river-main .pic-list {
   width: 300px;
   height: 100%;
   float: left;
   background-color: #2a59a9;
}
.focus-main .pic-list img, .river-main .pic-list img {
   display: block;
   width: 100%;
   margin-bottom: 10px;
}
.focus-main .txt-list, .river-main .txt-list {
   width: 500px;
   height: 100%;
   float: right;
}
.affairs-main .affairs-cont,
.focus-main .txt-list .txt-list-item, .river-main .txt-list .txt-list-item {
    padding-left: 20px;
    line-height:40px;
    font-size: 16px;
    border: 5px solid #110f7c;
    background-color:#2a59a9;
    color: #fff;
}
.affairs-bottom, .focus-bottom, .river-bottom {
   width: 900px;
   margin-left: auto;
   margin-right: auto;
}
.affairs-item {
    padding-left: 20px;
    line-height:40px;
    font-size: 16px;
    border: 5px solid #110f7c;
    background-color:#2a59a9;
    color: #fff;
}
.debugger-mask {
   width: 400px;
   position: absolute;
   top: 50%;
   left: 2%;
   border-width: 5px;
   border-color: transparent;
   border-style: solid;
   z-index: 1000;
}
.debugger-box {
   height: 200px;
   background-color: #f90;
}
