<h2 class="common-title w1000"></h2>
<div class="custom w1000">
    <div class="custom-top">
        <div class="swiper fl" id="swiper">
            <ul class="swiper-list">
              <li class="swiper-item">
                 <img  id="imgBox" />
              </li>
            </ul>
            <div class="swiper-dotgroup" id="swiper-dotgroup">
              <!-- <span class="swiper-dotitem"></span> -->
            </div>
        </div>

        <div class="custom-info fr">
           <h3 class="custom-info-title">中国</h3>
           <p class="custom-info-txt">中国</p>
        </div>
    </div>
    <div class="custom-foot">
        <ul class="custom-relatelist">
            <li class="custom-relateitem">
                <img src="../../imgs/service-1.jpg">
                <p>孙家村</p>
            </li>
        </ul>
    </div>
</div>
